<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swedtugal">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GetAccelerometerScanActivity"
            android:parentActivityName=".GetAccelerometerDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GetAccelerometerDataActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".AddAccelerometerActivity"
            android:parentActivityName=".GetAccelerometerDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GetAccelerometerDataActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".CreditsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GetWifiScanActivity"
            android:parentActivityName=".GetWifiDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GetWifiDataActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".AddWifiActivity"
            android:parentActivityName=".GetWifiDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GetWifiDataActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GetWifiDataActivity"
            android:parentActivityName=".CalibratingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalibratingActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GetAccelerometerDataActivity"
            android:parentActivityName=".CalibratingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalibratingActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".PositioningActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".CalibratingActivity"
            android:parentActivityName=".MainActivity">

            <!-- metadata required to support API level 15 or lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>